$color_1: #62CAEC;
$color_2: rgba(0, 0, 0, 0.5);
$color_3: white;
$font-family_1: "Poppins";
$background-color_1: #F2FCFF;
$background-color_2: #62CAEC;
$background-color_3: #17acde;

body {
	padding: 55px;
    
}
%center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__signup {
    @extend %center-div;
    margin: 0 auto;
    transform: translateY(10%);
	max-width: 600px;
	-webkit-box-shadow: 0px 18px 40px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 18px 40px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 18px 40px 0px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}
.form-input-password {
	display: flex;
	justify-content: space-between;
	max-width: 478px;
}
input {
	width: 478px;
	height: 46px;
	border-radius: 4px;
	border: 0px solid black;
	padding-left: 15px;
	background-color: $background-color_1;
	font-family: $font-family_1;
}
h2 {
	font-family: $font-family_1;
	color: $color_1;
	font-weight: 600;
	font-size: 36px;
	line-height: 54px;
}
h1 {
	font-family: $font-family_1;
	font-weight: bolder;
	font-size: 56px;
	line-height: 84px;
	text-align: left;
    margin-top: 13px;
}
#chield1{
    margin-top: 30px;
}
h4 {
	font-family: $font-family_1;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.03em;
	color: $color_2;
    margin-top: 9px;
}
p {
	font-family: $font-family_1;
}
.card__signup-container {
	padding: 40px 70px;
}
.form__button_signup {
	max-width: 150px;
	max-height: 50px;
	background-color: $background-color_2;
	border: none;
	padding: 20px 25px;
	border-radius: 25px;
	font-family: $font-family_1;
	font-size: 16px;
	text-align: center;
	color: $color_3;
	@extend %center-div;
	font-weight: 600;
	line-height: 24px;
	margin: 30px auto;
}
.form__input-password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    
}
.form__footer{
    @extend %center-div;
    gap: 1rem;
    align-items: flex-end;
    justify-content: center
}
.form__btn-signup{
    @extend %center-div;
    background: $color_1;
    border-radius: 23px;
    max-width: 150px;
    padding-top: 11px;
    padding-bottom: 11px;
    color: white;
    margin: 40px auto;
}
h5{
    color: $color_1;
    font-size: 16px;
}

@media screen and (max-width:650px){
    .card__signup{
        box-shadow:none
    }
}
@media screen and (max-width:600px) {
    input{
        width: 400px;
    }
}